<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="mexSrvBehavior" name="JrRpc.MetataRetrieval.Services.CalcService">
        <endpoint name="w07bICalc" address="w07b"  binding="ws2007HttpBinding" contract="JrRpc.MetataRetrieval.Services.ICalc" />
        <endpoint  name="wbICalc" address="wb" binding="wsHttpBinding" contract="JrRpc.MetataRetrieval.Services.ICalc" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.104:15618/calcservice" />
          </baseAddresses>
        </host>
      </service>
     </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexSrvBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://192.168.1.104:15601/calcservice/metadata"/>
        </behavior>
       </serviceBehaviors>
     </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.3"/></startup></configuration>
