<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Artech.MetataRetrieval.Services.CalculatorService" behaviorConfiguration="mexBehavior">
        <host >
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:9999/calculatorservice"/>
          </baseAddresses>
        </host>
        <endpoint binding="ws2007HttpBinding" contract="Artech.MetataRetrieval.Services.ICalculator"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata  httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3721/calculatorservice/metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
